*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quadrado{
    width: 500px;
    background-color: tomato;
    height: 500px;
    margin-left: 1000px;
    margin-top: 500;
}
.circulo{
    width: 500px;
    height: 500px;
    background-color:yellow;
    border-radius: 50%;
    display: flex;
    margin-left: 1000px;
    margin-top: 300px;
}
h1{
    text-align: center;
    font-size: 128px;
}